@using ServiceContracts.DTO;
@{
	ViewBag.Title = "Orders";
	ViewBag.CurrentUrl = "Orders";
}
<div class="text-grey ml">
	<span>Stocks</span>
	<i class="fa-solid fa-caret-right"></i>
	<span>Orders</span>
</div>
<div class="flex orders-list">
	<div id="buy-orders-list">
		<div class="box">
			<h4 class="text-text-grey mb">Buy Orders</h4>
			@{
				foreach (BuyOrderResponse buyorderresponse in ViewBag.BuyOrders)
				{
					<div class="border-bottom p">

						<div>
							<h3>@buyorderresponse.StockName (@buyorderresponse.StockSymbol)</h3>
								<h5>
									<small class="mb">@buyorderresponse.Quantity</small>
									<span class="text-grey"> shares at </span>
									<small>$@buyorderresponse.Price.ToString("N")</small>
								</h5>
							<h5>
								<span class="text-grey">@buyorderresponse.DateAndTimeOfOrder.ToString("dd/MMM/yyyy hh:mm:ss")</span>
							</h5>
						</div>

					</div>
				}
			}
		</div>
	</div>
	<div id="sell-orders-list">
		<div class="box">
			<h4 class="text-text-grey mb">Sell Orders</h4>
			@{
				foreach (SellOrderResponse sellorderresponse in ViewBag.SellOrders)
				{
					<div class="border-bottom p">
						<div>
							<h3>@sellorderresponse.StockName (@sellorderresponse.StockSymbol)</h3>
							<h5>
								<small class="mb">@sellorderresponse.Quantity</small>
								<span class="text-grey"> shares at </span>
								<small>$@sellorderresponse.Price.ToString("N")</small>
							</h5>
							<h5>
								<span class="text-grey">@sellorderresponse.DateAndTimeOfOrder.ToString("dd/MMM/yyyy hh:mm:ss")</span>
							</h5>
						</div>
					</div>
				}
			}
		</div>
	</div>
</div>